// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#page {
  background: image_url("image1.jpg") center no-repeat;
  background-size: cover;
  padding: 48px 20px 20px 20px;
  min-height: 100%;
  margin-bottom: 200px;
  font-size: 14px;
}

#top-menu {
  position: absolute;
  min-width: 1000px;
  width: 100%;
  height: 48px;
  background-color: #646464;
  background-color: rgba(0, 0, 0, 0.6);
}

#top-menu ul {
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  font-weight: 100;
  margin: 0 auto;
  list-style: none;
}

#logo {
  margin-bottom: -6px;
  width: 100px;
  margin-right: 100px;
}

#top-menu li {
  cursor: pointer;
  display: inline-block;
  margin: 0 20px;
  padding: 0 20px;
}

#top-menu li:hover {
  color: #bababa;
}

.btn {
  display: inline-block;
  /* Rectangle 1: */
  background-image: linear-gradient(-180deg, #45A4DE 0%, #2287C8 100%);
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
}

.btn:hover {
  /* Rectangle 1: */
  background-image: linear-gradient(-180deg, #49A4DC 0%, #2C8FCE 100%);
}

.btn-success {
  background-image: linear-gradient(-180deg, #0DAE75 0%, #0AAA5E 100%);
}

.btn-success:hover {
  background-image: linear-gradient(-180deg, #0d9a67 0%, #0a9c51 100%);
}


#footer {
  padding: 20px;
  margin-top: -200px;
  width: 100%;
  height: 200px;
  background-color: #eaeaea;
}

.footer-rights-label {
  color: #464646;
  font-size: 10px;
}

#page-content {
  border-radius: 3px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px 40px;
}

#page-content h1 {
  font-size: 24px;
  font-weight: 400;
}

.book_cover {
  width: 200px;
  padding-right: 10px;
  float: left;
}

.clearfix {
  clear: both;
}

.purchase {
  font-size: 11px;
}

.purchase ul {
  list-style: none;
}

.purchase ul li {
  margin-top: 4px;
}

.price {
  font-size: 14px;
  font-weight: bold;
}

.add-to-cart {
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 400;
}